
main{
    margin-left: 20px;
    margin-right: 20px;
}


h1  {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #110808;
    margin-top: 30px;
}
h2,h3,h4,h5,h6 {
    color: #110808;
    font-size: 1em;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #a03f3f;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height:3px;
    width:0%;
    background:#009688;
    position:absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}

.content{
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    color:#fff;
}
.content h1{
    font-size:70px;
    margin-top:80px;
}

ul li a:hover {
    color: red;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5eded;
    @media screen and(max-width:40em){
        margin-left :10px;
        margin-right:10px;
    }
}

.image-container img {
    margin-right: 70px;
}


ol li {
    font-size: 20px;
}

